


<form  [formGroup]="userForm">

  <label >Name:</label>
  <input type="text" formControlName="name" appCapital><br>

  <div *ngIf="userForm.get('name')?.touched && userForm.get('name')?.invalid">
     <p *ngIf="userForm.get('name')?.errors?.['required']" >Name Should Be Required</p>
     <p *ngIf="userForm.get('name')?.errors?.['minlength']">Name Should Be Minimum 6 Letters</p>
     <p *ngIf="userForm.get('name')?.errors?.['maxlength']">Name Should Be Maximum 12 Letters</p>
  </div>

   <label >Mobile:</label>
  <input type="number" formControlName="mobile"><br>

   <label>E-mail:</label>
  <input type="email" formControlName="email"><br>
    <div *ngIf="userForm.get('email')?.touched && userForm.get('name')?.invalid">
     <p *ngIf="userForm.get('email')?.errors?.['required']" >E-mail Should Be Required</p>
     <p *ngIf="userForm.get('email')?.errors?.['minlength']">E-mail Should Be Minimum 12 Letters</p>
     <p *ngIf="userForm.get('email')?.errors?.['maxlength']">E-mail Should Be Maximum 20 Letters</p>
       <p *ngIf="userForm.get('email')?.errors?.['tcsMail']">Only Tcs Mails are Allowed</p>
  </div>

   <label >Password:</label>
  <input type="password" formControlName="password"><br>

  <div formGroupName="address">

   <label >City:</label>
  <input type="text" formControlName="city"><br>

   <label >State:</label>
  <input type="text" formControlName="state"><br>

   <label >pincode:</label>
  <input type="number" formControlName="pin"><br>
   </div>

   <label >Type:</label>
   <input type="radio" name="type" formControlName="type"value="dayScholar">
    <label >Day Scholar:</label>
   <input type="radio" name="type" formControlName="type"value="residential">
   <label >Residential</label><br>

   <div *ngIf="userForm.get('type')?.value=='dayScholar'">
    <label>Bus Fee:</label>
    <input type="number" formControlName="busFee"><br>
   </div>

    <div *ngIf="userForm.get('type')?.value=='residential'">
    <label>Hostel Fee:</label>
    <input type="number" formControlName="hostelFee"><br>
   </div>
    <br>
   <label>Cards:</label>
   <button class="btn btn-success" (click)="addCard()">Add Card</button><br>

   <div formArrayName="cards">
    <div *ngFor="let card of CardsFormArray.controls;let i=index">
        <div formGroupName="{{i}}">
            <h1>card{{i+1}}</h1>
            <label for="">Number:</label>
            <input type="number" formControlName="number"><br>
            <label for="">Name:</label>
            <input type="text" formControlName="name"><br>
            <label for="">Expiry:</label>
            <input type="month" formControlName="expiry"><br>
            <label for="">CVV:</label>
            <input type="number" formControlName="cvv"><br>

            <button class="btn btn-danger" (click)="deleteCard(i)">Delete</button>

        </div>

    </div>

   </div><br>

<button class="btn btn-primary" (click)="submit()">Submit</button><br><br>

<!-- <button class="btn btn-success">New User</button> -->

</form>
