.parent{
    height: 100vh;
    width: 100vw;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(187, 184, 181); 

}

.top-bar{
    height: 10%;
    width: 100%;
}
.card{
    width: 35%;
  height: 50%;
  margin: 2%;
  /* display: flex;
  flex-wrap: wrap; */
}

.header{
    height: 20%;
    width: 100%;
    background-color: brown;
    display: flex;   
}

.left_header{
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    height: 85%;
    width: 85%;
       
}

.right_header{
    height: 100%;
    width: 80%;
    align-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#scname{
    color: white;
    /* font-size:larger; */
}

.body{
    height: 70%;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
}
.left_body{
    height: 100%;
    width: 60%;
    margin: 3%;
    
    /* background-color: antiquewhite; */
}
#email{
    color:red;
}

.right_body{
    height: 100%;
    width: 40%;
     display: flex;
    justify-content: center;
    align-items: center;

}

.profile_pic{
    height:90%;
    width: 90%;
   
}

.footer{
    height: 20%;
    width: 100%;
    background-color: brown;
    display: flex;
    flex-direction: column;
}
.footer_top{
   height: 50%;
   width: 100%;
   display: flex;
   /* flex-direction: column; */
   justify-content: space-around;
}

.footer_bottom{
   height: 50%;
   width: 100%;
   display: flex;
   justify-content: space-around;

}

.sc_city{
    display: inline-block;
    margin-right: 3%;
    margin-left: 2%;
}

button{
    border-radius: 10%;
    border: 0;
    margin-bottom: 1%;
}

#view{
    background-color: black;
    color: white;
}

#edit{
     background-color: blue;
      color: white;
}

#delete{
     background-color: red;
      color: white;
}
button{
    margin-left: 1%;
    margin-right: 1%;
}


