<div class="parent">
    <div class="left">
        <h2 id="head">My Website</h2>
        <hr>
        <h3 routerLink="/dashboard/home">Home</h3>
        <h3 routerLink="/dashboard/welcome">Welcome</h3>
        <h3 routerLink="/dashboard/data-binding">Data-binding</h3>
        <h3 routerLink="/dashboard/calculator">Calculator</h3>
        <h3 routerLink="/dashboard/rectangle">Rectangle</h3>
        <h3 routerLink="/dashboard/circle">Circle</h3>
        <h3 routerLink="/dashboard/bmi">BMI</h3>
        <h3 routerLink="/dashboard/directives">Directives</h3>
        <hr>
        <button id="logout">logout</button>

    </div>
    <div class="right">
        <router-outlet></router-outlet>

    </div>
</div>
