.parent{
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
}


 .container-fluid{
    height: 95%;
    width: 45%;
    background-color: blueviolet;
    overflow: auto;
 }